@import 'styles/variables.scss';

.app {
  margin: 80px auto $base-margin auto;
  padding: 0 2 * $base-padding 2 * $base-padding 2 * $base-padding;

  width: 960px;
  background-color: $white;
}

.person {
  text-align: center;

}

.about{
  margin-bottom: 20px;
  width: 900px;
}
ul li{
  display: flex;
  margin: 20px;
  .education{
    display: block;
    margin: 10px;
  }
}

.content{
  margin-left: 60px;
  background-color: $gray;
  padding: 10px;
  width: 800px;
  p{
    margin-top: 10px;
    margin-bottom: 10px;
  
  }
}
